@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var selection = CurrentPage.Children.Where("Visible").Reverse(); }

@if (selection.Any())
{

    foreach (var item in selection)
    {
        <div class="well">
            <h2><a href="@item.Url">@item.Name</a></h2>

            <p>
                @Umbraco.Truncate(item.articleContent.ToString(), 600)
            </p>
            <a href="@item.Url">See full article</a>

        </div>
    }

}