@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var selection = CurrentPage.Children.Where("Visible"); }

@if (selection.Any())
{
    <ul>
        @foreach (var item in selection)
        {
            <li>
                <h3><a href="@item.Url">@item.Name (@item.status)</a></h3>
            </li>
        }
    </ul>
}