@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html>
<head>
    <title>@Umbraco.Field("siteTitle")</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    @Umbraco.RenderMacro("MainNavigation")
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/umbraco"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 text-left">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <p>
            @Umbraco.Field("footer", recursive: true)
        </p>
    </footer>

    <script src="~/scripts/jquery-1.9.1.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
