@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h1>@Umbraco.Field("projectMainTitle")</h1>
	
@Umbraco.RenderMacro("ProjectItems")